In [1]:
import pandas as pd
import numpy as np
from db.database_mysql import engine

df = pd.read_sql_query('''SELECT jp.title, jp.`year`, jp.director, jp.country, jp.duration, jp.genre, jp.first_day, jp.first_week, jp.first_weekend, jp.hebdo_rank, jp.total_spectator, jp.copies, fa1.rating_press, fa1.rating_public, fa1.casting, fa1.budget, fa1.lang, fa1.visa, fa1.award 
FROM films_jp as jp
LEFT JOIN films_allo fa1 ON fa1.id_jp = jp.id 
                        and fa1.year_allo = jp.`year` ''', engine)

In [2]:
df

,title,year,director,country,duration,genre,first_day,first_week,first_weekend,hebdo_rank,total_spectator,copies,rating_press,rating_public,casting,budget,lang,visa,award
0,7h58 ce samedila,2007,sidney lumet,etatsunis,6960,thriller,8749,74208,60450,7,173224,118,3.8,3.4,"[""Philip Seymour Hoffman"", ""Ethan Hawke"", ""Mar...",18000000.0,"[""anglais""]",118634.0,0.0
1,holy smoke,1999,jane campion,australie,6900,drame,-1,72806,59784,11,323447,103,3.1,3.1,"[""Harvey Keitel"", ""Kate Winslet"", ""Pam Grier"",...",-1.0,"[""anglais""]",98437.0,0.0
2,menteur menteur,1997,tom shadyac,etatsunis,5160,comedie,64774,845332,422481,1,1551253,343,-1.0,3.2,"[""Jim Carrey"", ""Maura Tierney"", ""Swoosie Kurtz...",45000000.0,"[""anglais"", ""allemand""]",92086.0,0.0
3,le casse de central park,2011,brett ratner,etatsunis,6240,comedie,9759,97963,76850,12,175526,201,2.8,2.8,"[""Ben Stiller"", ""Eddie Murphy"", ""Casey Affleck...",75000000.0,"[""anglais""]",131243.0,0.0
4,je fais le mort,2013,jeanpaul salome,france,6300,comedie,12107,102817,72040,8,195257,199,2.9,2.7,"[""François Damiens"", ""Géraldine Nakache"", ""Luc...",-1.0,"[""francais""]",133647.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2382,charlie et ses droles de dames,2000,mcg,etatsunis,5880,aventure action,91501,711821,616152,1,1937717,656,3.4,2.2,"[""Cameron Diaz"", ""Lucy Liu"", ""Drew Barrymore"",...",92000000.0,"[""chinois"", ""anglais"", ""francais"", ""allemand"",...",99933.0,0.0
2383,les gardiens de la galaxie 3,2023,james gunn,etatsunis,9000,comicbook,159499,1323124,1017381,1,3436824,611,NaN,NaN,None,NaN,None,NaN,NaN
2384,mon pere est ingenieur,2004,robert guediguian,france,6480,comedie,9616,67665,-1,14,182845,117,3.3,2.7,"[""Ariane Ascaride"", ""Jean-Pierre Darroussin"", ...",383000000.0,"[""francais""]",107679.0,0.0
2385,frantz,2016,francois ozon,france,6780,drame,27411,161533,130247,2,637625,210,3.7,4.1,"[""Pierre Niney"", ""Paula Beer"", ""Ernst Stötzner...",-1.0,"[""francais"", ""allemand""]",143650.0,2.0
2386,casino royale 2006,2006,martin campbell,etatsunis,8280,aventure action,160637,1260348,1100089,1,3182602,743,NaN,NaN,None,NaN,None,NaN,NaN