In [9]:
import pandas as pd
import sweetviz as sv

# Charger vos données (par exemple, un DataFrame pandas)
data = pd.read_csv('../../films_jp_202404021155.csv')
data.head(1)

,id,title,director,raw_title,raw_director,url_jp,year,country,duration,genre,first_day,first_weekend,first_week,hebdo_rank,total_spectator,copies,time_created,time_updated
0,0010478f4e067fedf4634d0a06f0f0ad,7h58 ce samedila,sidney lumet,7h58 ce samedi-là,Sidney Lumet,https://www.jpbox-office.com/fichfilm.php?id=9...,2007,etatsunis,6960,thriller,8749,60450,74208,7,173224,118,2024-04-02 09:15:53,2024-04-02 09:15:53

In [2]:
# SweetViz

# report = sv.analyze(data)

# report.show_html('report.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:01 -> (00:00 left)

Report report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.