# Imports

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import boxcox, chi2_contingency, f, f_oneway, probplot
import seaborn as sns

# Loading

In [30]:
# importation du mod√®le
df = pd.read_csv('films_db2.csv')

# Overview

In [21]:
df.shape

(2366, 21)

In [33]:
df.columns

Index(['title', 'year', 'id_jp', 'url_allo', 'director', 'country', 'duration',
       'genre', 'first_day', 'first_week', 'first_weekend', 'hebdo_rank',
       'total_spectator', 'copies', 'rating_press', 'rating_public', 'casting',
       'budget', 'lang', 'visa', 'award'],
      dtype='object')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2366 entries, 0 to 2365
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            2366 non-null   object
 1   year             2366 non-null   int64
 2   id_jp            1645 non-null   object
 3   url_allo         1645 non-null   object
 4   director         2366 non-null   object
 5   country          2366 non-null   object
 6   duration         2366 non-null   int64
 7   genre            2366 non-null   object
 8   first_day        2366 non-null   int64
 9   first_week       2366 non-null   int64
 10  first_weekend    2366 non-null   int64
 11  hebdo_rank       2366 non-null   int64
 12  total_spectator  2366 non-null   int64
 13  copies           2366 non-null   int64
 14  rating_press     1645 non-null   float64
 15  rating_public    1645 non-null   float64
 16  casting          1645 non-null   object
 17  budget           1645 non-null   float64
 18  lang             1645 non-null   object
 19  visa             1645 non-null   float64
 20  award            1645 non-null   float64
dtypes: float64(5), int64(8), object(8)
memory usage: 388.3+ KB

In [13]:
df.head

<bound method NDFrame.head of                        title  year                             id_jp  \
0           7h58 ce samedila  2007  0010478f4e067fedf4634d0a06f0f0ad
1            menteur menteur  1997  00cc02716a6d42f38dd2efaa773b6900
2                dream house  2011  02acc86450b3f7c7eb34ecc6c4638bea
3                      paris  2008  02d8e008f9b224bc32c31ff34d4b90b8
4                 two lovers  2008  03101f932285a244f3887c89e43f519d
...                      ...   ...                               ...
2361                paycheck  2003  fc217cad46530edea35d642d6876e87e
2362          licorice pizza  2021  fcc1c34a7cc6b061a61cc2b20b088497
2363             after earth  2013  fd06145978961e804a966255aa2aa595
2364        un jour sans fin  1993  fd2184dca7908ce9669fc991ec829b38
2365  mon pere est ingenieur  2004                               NaN

                                               url_allo              director  \
0     https://www.allocine.fr/film/fichefilm_gen_cfi...          sidney lumet
1     https://www.allocine.fr/film/fichefilm_gen_cfi...           tom shadyac
2     https://www.allocine.fr/film/fichefilm_gen_cfi...          jim sheridan
3     https://www.allocine.fr/film/fichefilm_gen_cfi...       cedric klapisch
4     https://www.allocine.fr/film/fichefilm_gen_cfi...            james gray
...                                                 ...                   ...
2361  https://www.allocine.fr/film/fichefilm_gen_cfi...              john woo
2362  https://www.allocine.fr/film/fichefilm_gen_cfi...  paul thomas anderson
2363  https://www.allocine.fr/film/fichefilm_gen_cfi...     m night shyamalan
2364  https://www.allocine.fr/film/fichefilm_gen_cfi...          harold ramis
2365                                                NaN     robert guediguian

        country  duration               genre  first_day  first_week  ...  \
0     etatsunis      6960            thriller       8749       74208  ...
1     etatsunis      5160             comedie      64774      845332  ...
2     etatsunis      5460            thriller      20003      152900  ...
3        france      7800             comedie     140257      778154  ...
4     etatsunis      6600               drame      25189      239193  ...
...         ...       ...                 ...        ...         ...  ...
2361  etatsunis      7080     science fiction      52746      311308  ...
2362  etatsunis      7980  comedie dramatique      11051      116871  ...
2363  etatsunis      6000     science fiction      91575      548418  ...
2364  etatsunis      6180             comedie         -1      122863  ...
2365     france      6480             comedie       9616       67665  ...

      hebdo_rank  total_spectator  copies  rating_press  rating_public  \
0              7           173224     118           3.8            3.4
1              1          1551253     343          -1.0            3.2
2              6           261717     319           1.5            2.5
3              1          1723642     482           3.0            3.3
4              5           835400     229           4.4            3.7
...          ...              ...     ...           ...            ...
2361           5           689651     399           2.7            2.7
2362           7           369833     184           4.5            3.7
2363           1          1276118     497           2.4            2.2
2364           2           521101     112           3.8            4.1
2365          14           182845     117           NaN            NaN

                                                casting       budget  \
0     ["Philip Seymour Hoffman", "Ethan Hawke", "Mar...   18000000.0
1     ["Jim Carrey", "Maura Tierney", "Swoosie Kurtz...   45000000.0
2     ["Daniel Craig", "Naomi Watts", "Rachel Weisz"...   55000000.0
3     ["Juliette Binoche", "Romain Duris", "Fabrice ...   13000000.0
4     ["Joaquin Phoenix", "Gwyneth Paltrow", "Viness...   12000000.0
...                                                 ...          ...
2361  ["Ben Affleck", "Uma Thurman", "Aaron Eckhart"...   60000000.0
2362  ["Alana Haim", "Cooper Hoffman", "Bradley Coop...         -1.0
2363  ["Jaden Smith", "Will Smith", "Sophie Okonedo"...  130000000.0
2364  ["Bill Murray", "Andie MacDowell", "Stephen To...         -1.0
2365                                                NaN          NaN

                                    lang      visa  award
0                            ["anglais"]  118634.0    0.0
1                ["anglais", "allemand"]   92086.0    0.0
2                            ["anglais"]  130951.0    0.0
3                           ["francais"]  114879.0    0.0
4                            ["anglais"]  121726.0    0.0
...                                  ...       ...    ...
2361                         ["anglais"]  109777.0    0.0
2362                         ["anglais"]  156124.0    1.0
2363                         ["anglais"]  136713.0    2.0
2364  ["anglais", "francais", "italien"]   82623.0    0.0
2365                                 NaN       NaN    NaN

[2366 rows x 21 columns]>

In [23]:
df.sample(5)

,title,year,id_jp,url_allo,director,country,duration,genre,first_day,first_week,...,hebdo_rank,total_spectator,copies,rating_press,rating_public,casting,budget,lang,visa,award
32,meurtre en suspens,1995,139a67541f36505d95e764afa46e0026,https://www.allocine.fr/film/fichefilm_gen_cfi...,john badham,etatsunis,5400,thriller,-1,261958,...,5,437221,113,-1.0,2.7,"[""Johnny Depp"", ""Christopher Walken"", ""Peter S...",-1.0,"[""anglais""]",-1.0,0.0
755,yesterday,2019,8a1c9587c99763bda546b60708e00007,https://www.allocine.fr/film/fichefilm_gen_cfi...,danny boyle,grandebretagne,6720,comedie,-1,215264,...,4,678617,398,3.5,3.7,"[""Himesh Patel"", ""Lily James"", ""Ed Sheeran"", ""...",-1.0,"[""anglais""]",151170.0,2.0
1508,le cousin,1997,NaN,NaN,alain corneau,france,6720,thriller,-1,224237,...,4,856606,410,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1413,mensonges et trahisons et plus si affinites,2004,NaN,NaN,laurent tirard,france,5400,comedie,40378,251378,...,3,743201,265,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,soyez sympas rembobinez,2008,68c6505e04cd095f8c708c36a0393455,https://www.allocine.fr/film/fichefilm_gen_cfi...,michel gondry,etatsunis,6060,comedie,20821,146496,...,6,505993,190,3.8,3.6,"[""Jack Black"", ""Yasiin Bey"", ""Danny Glover"", ""...",20000000.0,"[""anglais""]",119181.0,0.0

# Double Check

In [24]:
df.isna().sum()

title                0
year                 0
id_jp              721
url_allo           721
director             0
country              0
duration             0
genre                0
first_day            0
first_week           0
first_weekend        0
hebdo_rank           0
total_spectator      0
copies               0
rating_press       721
rating_public      721
casting            721
budget             721
lang               721
visa               721
award              721
dtype: int64

# Duplicates

In [25]:
df.duplicated().sum()

0

# Outliers

In [27]:
df.describe()

,year,duration,first_day,first_week,first_weekend,hebdo_rank,total_spectator,copies,rating_press,rating_public,budget,visa,award
count,2366.000000,2366.000000,2366.000000,2.366000e+03,2.366000e+03,2366.000000,2.366000e+03,2366.000000,1645.000000,1645.000000,1.645000e+03,1.645000e+03,1645.000000
mean,2006.919696,6806.246407,59769.836433,3.972693e+05,2.714668e+05,5.365173,1.173218e+06,345.663990,2.591489,3.167052,1.194409e+08,2.553577e+06,1.071733
std,8.240485,1189.719189,99650.571608,4.982316e+05,4.223613e+05,4.397120,1.694421e+06,215.939483,1.665822,0.708522,1.902005e+09,7.033990e+07,2.964463
min,1986.000000,-1.000000,-1.000000,6.774000e+03,-1.000000e+00,1.000000,8.403000e+03,-1.000000,-1.000000,1.000000,-1.000000e+00,-1.000000e+00,0.000000
25%,2000.000000,6000.000000,5591.000000,1.085995e+05,-1.000000e+00,2.000000,2.526422e+05,179.250000,2.400000,2.700000,-1.000000e+00,8.961200e+04,0.000000
50%,2007.000000,6600.000000,24156.000000,2.234820e+05,1.221605e+05,4.000000,5.947940e+05,307.000000,3.100000,3.300000,1.200000e+07,1.105710e+05,0.000000
75%,2013.000000,7440.000000,62103.500000,4.652755e+05,3.285918e+05,8.000000,1.362377e+06,488.000000,3.700000,3.700000,5.500000e+07,1.333450e+05,1.000000
max,2024.000000,12360.000000,850297.000000,4.378720e+06,3.586497e+06,20.000000,2.063479e+07,1093.000000,5.000000,4.600000,6.500000e+10,2.023007e+09,54.000000

# Binary Encoding

In [38]:
df.director.unique()

array(['sidney lumet', 'tom shadyac', 'jim sheridan', 'cedric klapisch',
       'james gray', 'andre techine', 'pascal thomas', 'patrice leconte',
       'stephen frears', 'ridley scott', 'woody allen', 'james cameron',
       'harold ramis', 'peter hyams', 'joel schumacher', 'thomas gilou',
       'claude lelouch', 'pierre salvadori', 'pj hogan', 'renny harlin',
       'claude miller', 'brett ratner', 'mathieu kassovitz', 'jj abrams',
       'kenneth branagh', 'brian levant', 'eric lartigau', 'claude berri',
       'alan j pakula', 'jon favreau', 'roger spottiswoode',
       'michael mann', 'john badham', 'rob minkoff', 'barbet schroeder',
       'dennis dugan', 'edgar wright', 'francis veber', 'richard donner',
       'barry levinson', 'robert rodriguez', 'roland emmerich',
       'bertrand tavernier', 'wong karwai', 'shawn levy', 'george miller',
       'jonathan mostow', 'andrew stanton', 'todd phillips',
       'neil jordan', 'jean becker', 'ang lee', 'simon west',
       'oliver stone', 'f gary gray', 'gilles paquetbrenner',
       'antoine fuqua', 'david yates', 'jaume colletserra', 'jan de bont',
       'sean penn', 'nancy meyers', 'ron howard', 'joel coen',
       'john lasseter', 'ron clements', 'olivier dahan', 'coline serreau',
       'george clooney', 'martin campbell', 'tony scott', 'rob marshall',
       'luc besson', 'andy tennant', 'joe carnahan', 'mike leigh',
       'curtis hanson', 'robert redford', 'steven soderbergh',
       'matt reeves', 'lars von trier', 'jon avnet', 'jeanpaul salome',
       'jane campion', 'zack snyder', 'nicole garcia', 'michel blanc',
       'martin scorsese', 'paul greengrass', 'clint eastwood',
       'fabien onteniente', 'ken loach', 'nick cassavetes',
       'david cronenberg', 'jacques audiard', 'patty jenkins',
       'jon turteltaub', 'sam raimi', 'lasse hallstrom', 'olivier baroux',
       'pierre jolivet', 'david twohy', 'marc esposito', 'richard curtis',
       'peter jackson', 'francis lawrence', 'gus van sant',
       'gore verbinski', 'richard lagravenese', 'chris weitz',
       'paul thomas anderson', 'antoine de caunes', 'bernardo bertolucci',
       'matthew vaughn', 'gerard krawczyk', 'anne fontaine',
       'michael winterbottom', 'mike newell', 'mimi leder',
       'alejandro gonzalez inarritu', 'joe johnston', 'barry sonnenfeld',
       'edward zwick', 'jeanpaul rappeneau', 'christopher nolan',
       'edouard molinaro', 'john carpenter', 'francois ozon',
       'wes craven', 'alain corneau', 'quentin tarantino', 'chris renaud',
       'dany boon', 'albert hughes', 'kevin smith', 'alexandre aja',
       'paul verhoeven', 'brian de palma', 'sylvester stallone',
       'dj caruso', 'tim burton', 'david fincher', 'david o russell',
       'julian schnabel', 'jacques doillon', 'danny boyle',
       'wes anderson', 'michel gondry', 'dominic sena', 'olivier megaton',
       'agnes jaoui', 'steven spielberg', 'james ivory', 'claude zidi',
       'paul ws anderson', 'hayao miyazaki', 'alfonso cuaron',
       'guy ritchie', 'brad bird', 'laurent tirard', 'michael bay',
       'gerard pires', 'martin brest', 'pierre morel', 'brad silberling',
       'darren aronofsky', 'james huth', 'alexander payne',
       'michael haneke', 'guillaume canet', 'roman polanski',
       'robert zemeckis', 'pedro almodovar', 'bryan singer',
       'len wiseman', 'louis leterrier', 'guillaume nicloux',
       'jason reitman', 'diane kurys', 'frederic schoendoerffer',
       'shane black', 'peter segal', 'cedric kahn', 'claude chabrol',
       'doug liman', 'daniele thompson', 'jeanmarie poire',
       'robert guediguian', 'quentin dupieux', 'andrew niccol',
       'rob cohen', 'terry gilliam', 'stephane brize', 'bruce beresford',
       'robert altman', 'norman jewison', 'm night shyamalan',
       'jeanfrancois richet', 'nora ephron', 'albert dupontel',
       'nicolas boukhrief', 'xavier dolan', 'wolfgang petersen',
       'john mctiernan', 'jeanjacques annaud', 'john singleton',
       'etienne chatiliez', 'bill condon', 'michael moore',
       'jonathan demme', 'andrew davis', 'eli roth', 'frank darabont',
       'alain chabat', 'andrew adamson', 'rian johnson', 'gerard jugnot',
       'emir kusturica', 'guillermo del toro', 'lee tamahori',
       'alex proyas', 'tonie marshall', 'jeanpierre jeunet',
       'william friedkin', 'mel gibson', 'james mangold',
       'stephen sommers', 'peter berg', 'jim jarmusch', 'bertrand blier',
       'james l brooks', 'jon amiel', 'jan kounen', 'damien chazelle',
       'sofia coppola', 'paul weitz', 'kevin reynolds', 'luc jacquet',
       'chris columbus', 'anthony minghella', 'sam mendes',
       'raja gosnell', 'jay roach', 'judd apatow', 'nanni moretti',
       'neil labute', 'zabou breitman', 'philippe lioret',
       'olivier marchal', 'sydney pollack', 'walter hill',
       'richard berry', 'ryan coogler', 'cameron crowe',
       'josiane balasko', 'colin trevorrow', 'joseph kosinski',
       'wachowski brothers', 'gary marshall', 'regis wargnier',
       'dardenne freres', 'juan antonio bayona', 'kathryn bigelow',
       'francis f coppola', 'joss whedon', 'win wenders', 'lee unkrich',
       'baz luhrmann', 'alexandre arcady', 'michael apted', 'rob reiner',
       'yvan attal', 'john landis', 'philippe de broca',
       'charlotte de turckheim', 'peter farrelly', 'ben affleck',
       'alain berberian', 'nicolas vanier', 'lawrence kasdan',
       'russo brothers', 'christophe barratier', 'lisa azuelos',
       'pierrefrancois martinlaval', 'nick park', 'spike lee',
       'christophe gans', 'george lucas', 'dominik moll', 'david lynch',
       'george a romero', 'john frankenheimer', 'denis villeneuve',
       'zhang yimou', 'gareth edwards', 'keenen ivory wayans',
       'christopher mcquarrie', 'stephen daldry', 'roland joffe',
       'simon wells', 'philip noyce', 'isabelle mergault',
       'elie chouraqui', 'costagavras', 'neil blomkamp', 'claire denis',
       'dominique farrugia', 'paul schrader', 'david zucker',
       'florent emilio siri', 'michel hazanavicius', 'chris wedge',
       'michael catonjones', 'claude sautet', 'maiwenn', 'michel ocelot',
       'peter weir', 'xavier beauvois', 'olivier assayas', 'mel brooks',
       'john boorman', 'gerard oury', 'alan parker',
       'phlippe de chauveron', 'benoit jacquot', 'nakache toledano',
       'eric rohmer', 'eric rochant', 'james wan', 'paul feig',
       'mike nichols', 'stanley kubrick', 'marc foster', 'james gunn',
       'jeanbaptiste lucien', 'cedric jimenez', 'valerie lemercier',
       'jeanjacques beineix', 'patrice chereau', 'charles chaplin',
       'justin lin', 'alain resnais', 'spike jonze', 'terrence malick',
       'ivan reitman', 'john woo', 'jerry zucker', 'frank oz',
       'takeshi kitano', 'todd solondz', 'todd haynes', 'mcg',
       'milos forman', 'jon watts', 'joe dante', 'yves robert',
       'andrzej zulawski', 'walter salles', 'adrian lyne',
       'jeanluc godard', 'michael cimino'], dtype=object)

In [39]:
df.country.unique()

array(['etatsunis', 'france', 'grandebretagne', 'australie', 'irlande',
       'danemark', 'chine', 'canada', 'italie', 'espagne', 'japon',
       'allemagne', 'nouvellezelande', 'belgique', 'mexique', 'suisse',
       'serbie', 'autriche', 'taiwan', 'argentine', 'bresil'],
      dtype=object)

In [40]:
df.genre.unique()

array(['thriller', 'comedie', 'drame', 'aventure action', 'romance',
       'science fiction', 'comicbook', 'film familial', 'guerre',
       'animation', 'comedie dramatique', 'western', 'fantasy',
       'documentaire', 'horreur', 'musical', 'catastrophe', 'peplum',
       'x erotique', 'courtmetrage'], dtype=object)

In [43]:
df.lang.unique()

array(['["anglais"]', '["anglais", "allemand"]', '["francais"]',
       '["danois", "anglais", "espagnol"]',
       '["arabic", "anglais", "francais", "allemand"]',
       '["cantonais", "anglais", "japonais"]',
       '["anglais", "francais", "russe"]', '["cantonais", "anglais"]',
       '[""]', '["anglais", "espagnol"]',
       '["anglais", "francais", "grec", "italien"]',
       '["francais", "allemand"]', '["anglais", "mandarin"]',
       '["anglais", "hebreu"]', '["anglais", "francais"]',
       '["arabic", "anglais", "allemand", "turc"]',
       '["anglais", "francais", "allemand"]',
       '["anglais", "francais", "hindi", "portugais", "russe"]',
       '["cantonais", "anglais", "mandarin"]',
       '["cantonais", "anglais", "japonais", "mandarin"]',
       '["anglais", "russe", "turc", "ourdou"]', '["arabic", "francais"]',
       '["anglais", "francais", "islandais", "russe"]',
       '["cantonais", "japonais", "mandarin"]',
       '["anglais", "francais", "allemand", "italien", "espagnol"]',
       '["anglais", "francais", "allemand", "russe", "espagnol"]',
       '["anglais", "latin"]', '["chinois", "espagnol", "wolof"]',
       '["anglais", "japonais"]', '["tcheque", "anglais", "francais"]',
       '["anglais", "hindi"]',
       '["anglais", "francais", "hongrois", "russe"]',
       '["dialecte africain", "anglais", "espagnol"]', '["japonais"]',
       '["albanais", "arabic", "anglais", "francais"]',
       '["anglais", "francais", "allemand", "mandarin"]',
       '["anglais", "francais", "italien"]',
       '["allemand", "italien", "polonais"]',
       '["anglais", "portugais", "espagnol"]', '["anglais", "russe"]',
       '["anglais", "francais", "espagnol", "swahili"]',
       '["francais", "hongrois"]', '["anglais", "estonien"]',
       '["tcheque", "anglais", "hongrois", "espagnol"]',
       '["arabic", "anglais", "francais", "espagnol"]',
       '["anglais", "allemand", "roumain"]',
       '["anglais", "allemand", "hindi"]', '["mandarin"]',
       '["anglais", "russe", "espagnol"]', '["anglais", "roumain"]',
       '["anglais", "francais", "allemand", "russe", "serbe"]',
       '["arabic", "anglais", "francais", "japonais", "espagnol"]',
       '["anglais", "italien"]', '["catalan", "anglais", "espagnol"]',
       '["arabic", "anglais", "allemand", "italien"]', '["espagnol"]',
       '["anglais", "francais", "italien", "latin"]',
       '["anglais", "francais", "hongrois", "espagnol"]',
       '["anglais", "francais", "italien", "latin", "mandarin", "portugais", "russe"]',
       '["italien"]', '["anglais", "francais", "allemand", "italien"]',
       '["francais", "allemand", "hebreu", "yiddish"]',
       '["flamand", "francais"]', nan,
       '["anglais", "francais", "allemand", "russe"]',
       '["anglais", "francais", "espagnol"]', '["arameen", "latin"]',
       '["arabic", "anglais"]',
       '["anglais", "islandais", "norvegien", "espagnol"]',
       '["anglais", "francais", "thai"]',
       '["arabic", "anglais", "francais"]', '["anglais", "polonais"]',
       '["anglais", "francais", "allemand", "espagnol"]',
       '["tcheque", "anglais", "allemand", "russe", "espagnol"]',
       '["francais", "allemand", "japonais"]', '["anglais", "coreen"]',
       '["anglais", "latin", "polonais"]', '["anglais", "grec"]',
       '["anglais", "ourdou"]',
       '["arabic", "francais", "italien", "roumain"]',
       '["chinois", "anglais", "espagnol"]',
       '["anglais", "allemand", "espagnol"]',
       '["anglais", "italien", "russe"]',
       '["anglais", "allemand", "russe"]', '["francais", "italien"]',
       '["anglais", "francais", "allemand", "italien", "mandarin"]',
       '["chinois"]', '["allemand", "roumain", "serbe"]',
       '["anglais", "francais", "japonais"]',
       '["anglais", "italien", "espagnol"]',
       '["anglais", "francais", "roumain"]', '["anglais", "thai"]',
       '["anglais", "francais", "mandarin"]',
       '["anglais", "francais", "hindi"]',
       '["cantonais", "anglais", "italien"]',
       '["anglais", "francais", "hebreu", "espagnol", "thai"]',
       '["anglais", "francais", "grec", "mandarin", "turc"]',
       '["anglais", "somali"]', '["francais", "espagnol"]',
       '["chinois", "francais"]', '["arabic", "anglais", "autre"]',
       '["chinois", "anglais", "francais", "allemand", "japonais", "autre", "espagnol"]',
       '["anglais", "francais", "allemand", "japonais"]',
       '["arabic", "anglais", "francais", "allemand", "hongrois", "japonais", "russe", "espagnol"]',
       '["arabic", "anglais", "italien", "roumain", "espagnol"]',
       '["anglais", "hongrois"]', '["chinois", "francais", "russe"]',
       '["anglais", "allemand", "hindi", "mandarin"]',
       '["francais", "japonais", "mandarin"]',
       '["anglais", "italien", "japonais", "espagnol"]',
       '["anglais", "vietnamien"]',
       '["anglais", "francais", "allemand", "suisse allemand"]',
       '["arabic", "anglais", "japonais", "autre", "espagnol"]',
       '["francais", "khmer"]', '["anglais", "allemand", "italien"]',
       '["anglais", "portugais"]',
       '["anglais", "francais", "georgien", "russe"]',
       '["chinois", "anglais"]',
       '["chinois", "anglais", "francais", "espagnol", "yiddish"]',
       '["maya"]', '["anglais", "coreen", "russe", "espagnol"]',
       '["neerlandais", "anglais", "francais", "allemand", "italien"]',
       '["arabic", "anglais", "allemand"]',
       '["anglais", "francais", "vietnamien"]',
       '["anglais", "francais", "russe", "espagnol"]',
       '["chinois", "anglais", "italien"]', '["cantonais", "francais"]',
       '["allemand", "portugais"]', '["anglais", "mandarin", "espagnol"]',
       '["francais", "russe"]',
       '["arabic", "anglais", "hebreu", "russe", "ourdou"]',
       '["arabic", "anglais", "francais", "mandarin", "espagnol"]',
       '["anglais", "francais", "allemand", "polonais"]',
       '["neerlandais", "francais"]', '["bengali", "francais"]',
       '["anglais", "francais", "latin"]',
       '["bosniaque", "anglais", "russe", "serbe"]'], dtype=object)

In [50]:
df.award.nlargest(10)

1433    54.0
205     26.0
504     25.0
1067    23.0
622     22.0
2110    21.0
1752    19.0
2245    19.0
114     18.0
447     17.0
Name: award, dtype: float64

In [49]:
df.budget.nlargest(10)

1371    6.500000e+10
1410    4.090300e+10
223     4.187000e+09
1799    3.043000e+09
509     2.415000e+09
2017    2.384000e+09
519     2.175000e+09
1639    1.674000e+09
22      1.606000e+09
1310    1.575000e+09
Name: budget, dtype: float64

In [51]:
df.award.nsmallest(10)

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: award, dtype: float64

In [52]:
df.budget.nsmallest(10)

5    -1.0
6    -1.0
7    -1.0
12   -1.0
15   -1.0
19   -1.0
20   -1.0
26   -1.0
27   -1.0
32   -1.0
Name: budget, dtype: float64