In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer


# df = pd.read_csv('../films_db2.csv')
# df.head(10)

In [2]:
from db.database_mysql import engine

df = pd.read_sql_query('''SELECT jp.title, jp.`year`, jp.director, jp.country, jp.duration, jp.genre, jp.first_day, jp.first_week, jp.first_weekend, jp.hebdo_rank, jp.total_spectator, jp.copies, fa1.rating_press, fa1.rating_public, fa1.casting, fa1.budget, fa1.lang, fa1.visa, fa1.award 
FROM films_jp as jp
LEFT JOIN films_allo fa1 ON fa1.id_jp = jp.id                     
  where fa1.year_allo is not null and fa1.year_allo != -1
  group by fa1.id_jp, jp.`year`, jp.director''', engine)

df.head()

,title,year,director,country,duration,genre,first_day,first_week,first_weekend,hebdo_rank,total_spectator,copies,rating_press,rating_public,casting,budget,lang,visa,award
0,7h58 ce samedila,2007,sidney lumet,etatsunis,6960,thriller,8749,74208,60450,7,173224,118,3.8,3.4,"[""Philip Seymour Hoffman"", ""Ethan Hawke"", ""Mar...",18000000.0,"[""anglais""]",118634.0,0.0
1,holy smoke,1999,jane campion,australie,6900,drame,-1,72806,59784,11,323447,103,3.1,3.1,"[""Harvey Keitel"", ""Kate Winslet"", ""Pam Grier"",...",-1.0,"[""anglais""]",98437.0,0.0
2,menteur menteur,1997,tom shadyac,etatsunis,5160,comedie,64774,845332,422481,1,1551253,343,-1.0,3.2,"[""Jim Carrey"", ""Maura Tierney"", ""Swoosie Kurtz...",45000000.0,"[""anglais"", ""allemand""]",92086.0,0.0
3,le casse de central park,2011,brett ratner,etatsunis,6240,comedie,9759,97963,76850,12,175526,201,2.8,2.8,"[""Ben Stiller"", ""Eddie Murphy"", ""Casey Affleck...",75000000.0,"[""anglais""]",131243.0,0.0
4,je fais le mort,2013,jeanpaul salome,france,6300,comedie,12107,102817,72040,8,195257,199,2.9,2.7,"[""François Damiens"", ""Géraldine Nakache"", ""Luc...",-1.0,"[""francais""]",133647.0,0.0

In [3]:
df

,title,year,director,country,duration,genre,first_day,first_week,first_weekend,hebdo_rank,total_spectator,copies,rating_press,rating_public,casting,budget,lang,visa,award
0,7h58 ce samedila,2007,sidney lumet,etatsunis,6960,thriller,8749,74208,60450,7,173224,118,3.8,3.4,"[""Philip Seymour Hoffman"", ""Ethan Hawke"", ""Mar...",18000000.0,"[""anglais""]",118634.0,0.0
1,holy smoke,1999,jane campion,australie,6900,drame,-1,72806,59784,11,323447,103,3.1,3.1,"[""Harvey Keitel"", ""Kate Winslet"", ""Pam Grier"",...",-1.0,"[""anglais""]",98437.0,0.0
2,menteur menteur,1997,tom shadyac,etatsunis,5160,comedie,64774,845332,422481,1,1551253,343,-1.0,3.2,"[""Jim Carrey"", ""Maura Tierney"", ""Swoosie Kurtz...",45000000.0,"[""anglais"", ""allemand""]",92086.0,0.0
3,le casse de central park,2011,brett ratner,etatsunis,6240,comedie,9759,97963,76850,12,175526,201,2.8,2.8,"[""Ben Stiller"", ""Eddie Murphy"", ""Casey Affleck...",75000000.0,"[""anglais""]",131243.0,0.0
4,je fais le mort,2013,jeanpaul salome,france,6300,comedie,12107,102817,72040,8,195257,199,2.9,2.7,"[""François Damiens"", ""Géraldine Nakache"", ""Luc...",-1.0,"[""francais""]",133647.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2382,charlie et ses droles de dames,2000,mcg,etatsunis,5880,aventure action,91501,711821,616152,1,1937717,656,3.4,2.2,"[""Cameron Diaz"", ""Lucy Liu"", ""Drew Barrymore"",...",92000000.0,"[""chinois"", ""anglais"", ""francais"", ""allemand"",...",99933.0,0.0
2383,les gardiens de la galaxie 3,2023,james gunn,etatsunis,9000,comicbook,159499,1323124,1017381,1,3436824,611,NaN,NaN,None,NaN,None,NaN,NaN
2384,mon pere est ingenieur,2004,robert guediguian,france,6480,comedie,9616,67665,-1,14,182845,117,3.3,2.7,"[""Ariane Ascaride"", ""Jean-Pierre Darroussin"", ...",383000000.0,"[""francais""]",107679.0,0.0
2385,frantz,2016,francois ozon,france,6780,drame,27411,161533,130247,2,637625,210,3.7,4.1,"[""Pierre Niney"", ""Paula Beer"", ""Ernst Stötzner...",-1.0,"[""francais"", ""allemand""]",143650.0,2.0
2386,casino royale 2006,2006,martin campbell,etatsunis,8280,aventure action,160637,1260348,1100089,1,3182602,743,NaN,NaN,None,NaN,None,NaN,NaN

In [4]:
# df = df.drop(["title","visa"],axis=1)
# df.head(15)

In [4]:
df.nunique()

title              2365
year                 34
director            361
country              21
duration            120
genre                20
first_day          1827
first_week         2364
first_weekend      1693
hebdo_rank           20
total_spectator    2363
copies              759
rating_press         41
rating_public        39
casting            1744
budget              290
lang                154
visa               1548
award                25
dtype: int64

In [5]:
df.isnull().sum()

title                0
year                 0
director             0
country              0
duration             0
genre                0
first_day            0
first_week           0
first_weekend        0
hebdo_rank           0
total_spectator      0
copies               0
rating_press       576
rating_public      576
casting            576
budget             576
lang               576
visa               576
award              576
dtype: int64

In [6]:
df.loc[df["rating_press"].isnull()]

,title,year,director,country,duration,genre,first_day,first_week,first_weekend,hebdo_rank,total_spectator,copies,rating_press,rating_public,casting,budget,lang,visa,award
731,target 2012,2012,mcg,etatsunis,5820,aventure action,37814,186074,155187,4,350817,406,NaN,NaN,None,NaN,None,NaN,NaN
732,pour le pire et pour le meilleur,1997,james l brooks,etatsunis,8280,comedie,-1,281023,-1,4,1241196,241,NaN,NaN,None,NaN,None,NaN,NaN
740,raining stones,1993,ken loach,grandebretagne,5400,drame,-1,52170,-1,9,521839,31,NaN,NaN,None,NaN,None,NaN,NaN
743,american beauty,1999,sam mendes,etatsunis,7320,drame,40457,349269,270621,3,3001844,252,NaN,NaN,None,NaN,None,NaN,NaN
744,celebrity,1998,woody allen,etatsunis,6600,comedie,-1,295558,-1,2,738102,267,NaN,NaN,None,NaN,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2374,1001 pattes,1998,john lasseter,etatsunis,5760,animation,105325,654270,471286,2,3161913,605,NaN,NaN,None,NaN,None,NaN,NaN
2375,paycheck,2003,john woo,etatsunis,7080,science fiction,52746,311308,263659,5,689651,399,NaN,NaN,None,NaN,None,NaN,NaN
2377,licorice pizza,2021,paul thomas anderson,etatsunis,7980,comedie dramatique,11051,116871,95026,7,369833,184,NaN,NaN,None,NaN,None,NaN,NaN
2383,les gardiens de la galaxie 3,2023,james gunn,etatsunis,9000,comicbook,159499,1323124,1017381,1,3436824,611,NaN,NaN,None,NaN,None,NaN,NaN
2386,casino royale 2006,2006,martin campbell,etatsunis,8280,aventure action,160637,1260348,1100089,1,3182602,743,NaN,NaN,None,NaN,None,NaN,NaN

In [7]:
colonnes_numeriques = ["first_day","first_weekend",'budget']

df[colonnes_numeriques] = df[colonnes_numeriques].replace(-1, np.nan)

imputer = KNNImputer(n_neighbors=5)

df_imputed = imputer.fit_transform(df[colonnes_numeriques])

df[colonnes_numeriques] = df_imputed

df

,title,year,director,country,duration,genre,first_day,first_week,first_weekend,hebdo_rank,total_spectator,copies,rating_press,rating_public,casting,budget,lang,visa,award
0,7h58 ce samedila,2007,sidney lumet,etatsunis,6960,thriller,8749.0,74208,60450.0,7,173224,118,3.8,3.4,"[""Philip Seymour Hoffman"", ""Ethan Hawke"", ""Mar...",18000000.0,"[""anglais""]",118634.0,0.0
1,holy smoke,1999,jane campion,australie,6900,drame,10135.6,72806,59784.0,11,323447,103,3.1,3.1,"[""Harvey Keitel"", ""Kate Winslet"", ""Pam Grier"",...",27422000.0,"[""anglais""]",98437.0,0.0
2,menteur menteur,1997,tom shadyac,etatsunis,5160,comedie,64774.0,845332,422481.0,1,1551253,343,-1.0,3.2,"[""Jim Carrey"", ""Maura Tierney"", ""Swoosie Kurtz...",45000000.0,"[""anglais"", ""allemand""]",92086.0,0.0
3,le casse de central park,2011,brett ratner,etatsunis,6240,comedie,9759.0,97963,76850.0,12,175526,201,2.8,2.8,"[""Ben Stiller"", ""Eddie Murphy"", ""Casey Affleck...",75000000.0,"[""anglais""]",131243.0,0.0
4,je fais le mort,2013,jeanpaul salome,france,6300,comedie,12107.0,102817,72040.0,8,195257,199,2.9,2.7,"[""François Damiens"", ""Géraldine Nakache"", ""Luc...",9260000.0,"[""francais""]",133647.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2382,charlie et ses droles de dames,2000,mcg,etatsunis,5880,aventure action,91501.0,711821,616152.0,1,1937717,656,3.4,2.2,"[""Cameron Diaz"", ""Lucy Liu"", ""Drew Barrymore"",...",92000000.0,"[""chinois"", ""anglais"", ""francais"", ""allemand"",...",99933.0,0.0
2383,les gardiens de la galaxie 3,2023,james gunn,etatsunis,9000,comicbook,159499.0,1323124,1017381.0,1,3436824,611,NaN,NaN,None,96400000.0,None,NaN,NaN
2384,mon pere est ingenieur,2004,robert guediguian,france,6480,comedie,9616.0,67665,60122.8,14,182845,117,3.3,2.7,"[""Ariane Ascaride"", ""Jean-Pierre Darroussin"", ...",383000000.0,"[""francais""]",107679.0,0.0
2385,frantz,2016,francois ozon,france,6780,drame,27411.0,161533,130247.0,2,637625,210,3.7,4.1,"[""Pierre Niney"", ""Paula Beer"", ""Ernst Stötzner...",232440000.0,"[""francais"", ""allemand""]",143650.0,2.0
2386,casino royale 2006,2006,martin campbell,etatsunis,8280,aventure action,160637.0,1260348,1100089.0,1,3182602,743,NaN,NaN,None,111900000.0,None,NaN,NaN

In [8]:
df.isnull().sum()

title                0
year                 0
director             0
country              0
duration             0
genre                0
first_day            0
first_week           0
first_weekend        0
hebdo_rank           0
total_spectator      0
copies               0
rating_press       576
rating_public      576
casting            576
budget               0
lang               576
visa               576
award              576
dtype: int64

In [9]:
df.nunique()

title              2365
year                 34
director            361
country              21
duration            120
genre                20
first_day          1943
first_week         2364
first_weekend      1945
hebdo_rank           20
total_spectator    2363
copies              759
rating_press         41
rating_public        39
casting            1744
budget              943
lang                154
visa               1548
award                25
dtype: int64

In [10]:
df.to_csv('Dataset_analyse.csv', index=False)
df

,title,year,director,country,duration,genre,first_day,first_week,first_weekend,hebdo_rank,total_spectator,copies,rating_press,rating_public,casting,budget,lang,visa,award
0,7h58 ce samedila,2007,sidney lumet,etatsunis,6960,thriller,8749.0,74208,60450.0,7,173224,118,3.8,3.4,"[""Philip Seymour Hoffman"", ""Ethan Hawke"", ""Mar...",18000000.0,"[""anglais""]",118634.0,0.0
1,holy smoke,1999,jane campion,australie,6900,drame,10135.6,72806,59784.0,11,323447,103,3.1,3.1,"[""Harvey Keitel"", ""Kate Winslet"", ""Pam Grier"",...",27422000.0,"[""anglais""]",98437.0,0.0
2,menteur menteur,1997,tom shadyac,etatsunis,5160,comedie,64774.0,845332,422481.0,1,1551253,343,-1.0,3.2,"[""Jim Carrey"", ""Maura Tierney"", ""Swoosie Kurtz...",45000000.0,"[""anglais"", ""allemand""]",92086.0,0.0
3,le casse de central park,2011,brett ratner,etatsunis,6240,comedie,9759.0,97963,76850.0,12,175526,201,2.8,2.8,"[""Ben Stiller"", ""Eddie Murphy"", ""Casey Affleck...",75000000.0,"[""anglais""]",131243.0,0.0
4,je fais le mort,2013,jeanpaul salome,france,6300,comedie,12107.0,102817,72040.0,8,195257,199,2.9,2.7,"[""François Damiens"", ""Géraldine Nakache"", ""Luc...",9260000.0,"[""francais""]",133647.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2382,charlie et ses droles de dames,2000,mcg,etatsunis,5880,aventure action,91501.0,711821,616152.0,1,1937717,656,3.4,2.2,"[""Cameron Diaz"", ""Lucy Liu"", ""Drew Barrymore"",...",92000000.0,"[""chinois"", ""anglais"", ""francais"", ""allemand"",...",99933.0,0.0
2383,les gardiens de la galaxie 3,2023,james gunn,etatsunis,9000,comicbook,159499.0,1323124,1017381.0,1,3436824,611,NaN,NaN,None,96400000.0,None,NaN,NaN
2384,mon pere est ingenieur,2004,robert guediguian,france,6480,comedie,9616.0,67665,60122.8,14,182845,117,3.3,2.7,"[""Ariane Ascaride"", ""Jean-Pierre Darroussin"", ...",383000000.0,"[""francais""]",107679.0,0.0
2385,frantz,2016,francois ozon,france,6780,drame,27411.0,161533,130247.0,2,637625,210,3.7,4.1,"[""Pierre Niney"", ""Paula Beer"", ""Ernst Stötzner...",232440000.0,"[""francais"", ""allemand""]",143650.0,2.0
2386,casino royale 2006,2006,martin campbell,etatsunis,8280,aventure action,160637.0,1260348,1100089.0,1,3182602,743,NaN,NaN,None,111900000.0,None,NaN,NaN