In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer


# df = pd.read_csv('../films_db2.csv')
# df.head(10)

In [2]:
from db.database_mysql import engine

df = pd.read_sql_query('''SELECT jp.title, jp.`year`, jp.director, jp.country, jp.duration, jp.genre, jp.first_day, jp.first_week, jp.first_weekend, jp.hebdo_rank, jp.total_spectator, jp.copies, fa1.rating_press, fa1.rating_public, fa1.casting, fa1.budget, fa1.lang, fa1.visa, fa1.award 
FROM films_jp as jp
LEFT JOIN films_allo fa1 ON fa1.id_jp = jp.id                     
  where fa1.year_allo is not null and fa1.year_allo != -1
  group by fa1.id_jp, jp.`year`, jp.director''', engine)

df.head()

,title,year,director,country,duration,genre,first_day,first_week,first_weekend,hebdo_rank,total_spectator,copies,rating_press,rating_public,casting,budget,lang,visa,award
0,rien ne va plus,1997,claude chabrol,france,6300,thriller,-1,172230,-1,3,458125,234,-1.0,3.0,"[""Michel Serrault"", ""Isabelle Huppert"", ""Franç...",-1,"[""francais"", ""hongrois""]",90016,0
1,la fille sur le pont,1999,patrice leconte,france,5400,drame,-1,154881,-1,5,663390,198,3.4,3.6,"[""Vanessa Paradis"", ""Daniel Auteuil"", ""Claude ...",990000000,"[""francais""]",90876,1
2,grosse fatigue,1994,michel blanc,france,5220,comedie,-1,417021,-1,2,2015230,189,-1.0,2.7,"[""Michel Blanc"", ""Philippe Noiret"", ""Marie-Ann...",-1,"[""francais""]",82266,1
3,braveheart,1995,mel gibson,etatsunis,9900,aventure action,-1,355642,-1,3,1231534,302,2.6,4.2,"[""Mel Gibson"", ""Sophie Marceau"", ""Catherine Mc...",72000000,"[""anglais""]",88091,9
4,regarde les hommes tomber,1994,jacques audiard,france,6600,thriller,-1,39739,-1,10,218831,46,-1.0,3.3,"[""Jean-Louis Trintignant"", ""Mathieu Kassovitz""...",-1,"[""francais""]",84098,3

In [3]:
# from db.database_mysql import engine

# df = pd.read_sql_query('''SELECT jp.title, jp.`year`, jp.director, jp.country, jp.duration, jp.genre, jp.first_day, jp.first_week, jp.first_weekend, jp.hebdo_rank, jp.total_spectator, jp.copies, fa1.rating_press, fa1.rating_public, fa1.casting, fa1.budget, fa1.lang, fa1.visa, fa1.award 
# FROM films_jp as jp
# LEFT JOIN films_allo fa1 ON fa1.id_jp = jp.id 
#                         and fa1.year_allo = jp.`year` ''', engine)
# # and fa1.director_allo like CONCAT("%", jp.director, "%")

# df.head()

In [4]:
realisateurs_tres_connus = [
    "Steven Spielberg",
    "Martin Scorsese",
    "Alfred Hitchcock",
    "Quentin Tarantino",
    "Stanley Kubrick",
    "Francis Ford Coppola",
    "Steven Soderbergh",
    "Tim Burton",
    "Christopher Nolan",
    "James Cameron",
    "Woody Allen",
    "Clint Eastwood",
    "Ridley Scott",
    "Pedro Almodóvar",
    "David Fincher",
    "Peter Jackson",
    "Darren Aronofsky",
    "Coen Brothers",
    "Spike Lee",
    "Wes Anderson",
    "Roman Polanski",
    "David Lynch",
    "Terrence Malick",
    "Michael Bay",
    "Ang Lee",
    "Paul Thomas Anderson",
    "Quentin Dupieux",
    "Alejandro González Iñárritu",
    "Werner Herzog",
    "David Cronenberg",
    "Guy Ritchie",
    "Robert Rodriguez",
    "John Carpenter",
    "Baz Luhrmann",
    "Jean-Pierre Jeunet",
    "Gaspar Noé",
    "Yorgos Lanthimos",
    "George Lucas",
    "James Wan",
    "Luc Besson",
    "Catherine Hardwicke",
    "Zhang Yimou",
    "John Woo",
    "Sofia Coppola",
    "Gus Van Sant",
    "Danny Boyle",
    "Alejandro Amenábar",
    "Fernando Meirelles",
    "Tom Tykwer"
]

realisateurs_moins_connus = [
    "Kelly Reichardt",
    "Todd Solondz",
    "Sarah Polley",
    "Lynne Ramsay",
    "Joe Swanberg",
    "Andrew Bujalski",
    "Sion Sono",
    "Ti West",
    "Adam Wingard",
    "Jeremy Saulnier",
    "Sean Baker",
    "Mike Flanagan",
    "Chad Stahelski",
    "Justin Benson",
    "Aaron Moorhead",
    "Ana Lily Amirpour",
    "Jeff Nichols",
    "Jon Watts",
    "Yorgos Zois",
    "Hirokazu Kore-eda",
    "Josh Safdie",
    "Benny Safdie",
    "Robert Eggers",
    "Panos Cosmatos",
    "Ari Aster",
    "Barry Jenkins",
    "Greta Gerwig",
    "Jordan Peele",
    "Bo Burnham",
    "Alex Garland",
    "Ryan Coogler",
    "Travis Knight",
    "Céline Sciamma",
    "Matthias Schoenaerts",
    "Laszlo Nemes",
    "Makoto Shinkai",
    "Ladj Ly",
    "Chloé Zhao",
    "Emerald Fennell",
    "Alice Rohrwacher",
    "Sam Levinson",
    "Brandon Cronenberg",
    "Julia Ducournau",
    "Karyn Kusama",
    "Justin Simien",
    "Lorene Scafaria",
    "Ava DuVernay",
    "Dee Rees"
]

realisateurs_pas_connus = [
    "Maxime Caperan",
    "Sophie Blondy",
    "Daniel Cattier",
    "Julien Rambaldi",
    "Fabrice Gobert",
    "Axelle Ropert",
    "Léonor Serraille",
    "Axelle Laffont",
    "Yann Le Quellec",
    "Elsa Amiel",
    "Matthieu Bareyre",
    "Nina Meurisse",
    "Emmanuel Mouret",
    "Aurélie Saada",
    "Arthur Delaire",
    "Quentin Lecocq",
    "Terry Gilliam",
    "Yvan Attal",
    "Maïwenn",
    "Roschdy Zem",
    "Michaël Youn",
    "Édouard Deluc",
    "Noémie Lvovsky",
    "Julia Roy",
    "Marina Foïs",
    "Éric Lartigau",
    "Cyril Dion",
    "Jacques Audiard",
    "Gilles Lellouche",
    "Patrick Cassir",
    "Alain Chabat",
    "Zabou Breitman",
    "Yann Gozlan",
    "Riad Sattouf",
    "Mathias Malzieu",
    "Guillaume Nicloux",
    "Eran Riklis",
    "Fabien Onteniente",
    "Safy Nebbou",
    "Mathieu Sapin",
    "Denis Imbert",
    "Hélène Fillières",
    "Lisa Azuelos",
    "Léa Fazer",
    "Albert Dupontel",
    "Jean Dujardin",
    "Audrey Dana",
    "Florence Foresti",
    "Pierre Salvadori"
]

In [15]:
def classify_director(director):
    if director in realisateurs_tres_connus:
        return 1
    elif director in realisateurs_moins_connus:
        return 2
    else:
        return 3

# Appliquer la fonction pour remplacer les valeurs dans la colonne "director"
df['director'] = df['director'].apply(classify_director)

df

,title,year,director,country,duration,genre,first_day,first_week,first_weekend,hebdo_rank,total_spectator,copies,rating_press,rating_public,casting,budget,lang,visa,award
0,rien ne va plus,1997,3,france,6300,thriller,74295.3622,172230,368944.741401,3,458125,234,-1.0,3.0,"[""Michel Serrault"", ""Isabelle Huppert"", ""Franç...",1.549450e+08,"[""francais"", ""hongrois""]",90016,0
1,la fille sur le pont,1999,3,france,5400,drame,75572.2000,154881,412897.600000,5,663390,198,3.4,3.6,"[""Vanessa Paradis"", ""Daniel Auteuil"", ""Claude ...",9.900000e+08,"[""francais""]",90876,1
2,grosse fatigue,1994,3,france,5220,comedie,74295.3622,417021,368944.741401,2,2015230,189,-1.0,2.7,"[""Michel Blanc"", ""Philippe Noiret"", ""Marie-Ann...",1.549450e+08,"[""francais""]",82266,1
3,braveheart,1995,3,etatsunis,9900,aventure action,56892.4000,355642,286272.200000,3,1231534,302,2.6,4.2,"[""Mel Gibson"", ""Sophie Marceau"", ""Catherine Mc...",7.200000e+07,"[""anglais""]",88091,9
4,regarde les hommes tomber,1994,3,france,6600,thriller,74295.3622,39739,368944.741401,10,218831,46,-1.0,3.3,"[""Jean-Louis Trintignant"", ""Mathieu Kassovitz""...",1.549450e+08,"[""francais""]",84098,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,be happy,2008,3,grandebretagne,7080,comedie,18126.0000,110442,90372.000000,9,362884,128,3.9,2.7,"[""Sally Hawkins"", ""Alexis Zegerman"", ""Andrea R...",3.072000e+07,"[""anglais""]",121057,1
2201,m butterfly,1993,3,etatsunis,6060,drame,74295.3622,32351,368944.741401,10,101680,44,-1.0,3.6,"[""Jeremy Irons"", ""John Lone"", ""Barbara Sukowa""...",1.549450e+08,"[""anglais""]",-1,0
2202,petits freres,1999,3,france,5520,drame,74295.3622,51749,368944.741401,14,176880,-1,3.9,2.7,"[""Stephanie Touly"", ""Iliès Sefraoui"", ""Mustaph...",1.549450e+08,"[""francais""]",-1,0
2203,cookies fortune,1999,3,etatsunis,7080,comedie,74295.3622,63249,368944.741401,13,239473,-1,3.8,3.3,"[""Glenn Close"", ""Julianne Moore"", ""Liv Tyler"",...",1.549450e+08,"[""anglais""]",97081,0
2204,si loin si proche,1993,3,allemagne,8100,drame,74295.3622,45238,368944.741401,9,174764,42,-1.0,3.6,"[""Peter Falk"", ""Nastassja Kinski"", ""Bruno Ganz...",1.549450e+08,"[""anglais"", ""francais"", ""allemand""]",82032,0

In [6]:
df

,title,year,director,country,duration,genre,first_day,first_week,first_weekend,hebdo_rank,total_spectator,copies,rating_press,rating_public,casting,budget,lang,visa,award
0,rien ne va plus,1997,3,france,6300,thriller,-1,172230,-1,3,458125,234,-1.0,3.0,"[""Michel Serrault"", ""Isabelle Huppert"", ""Franç...",-1,"[""francais"", ""hongrois""]",90016,0
1,la fille sur le pont,1999,3,france,5400,drame,-1,154881,-1,5,663390,198,3.4,3.6,"[""Vanessa Paradis"", ""Daniel Auteuil"", ""Claude ...",990000000,"[""francais""]",90876,1
2,grosse fatigue,1994,3,france,5220,comedie,-1,417021,-1,2,2015230,189,-1.0,2.7,"[""Michel Blanc"", ""Philippe Noiret"", ""Marie-Ann...",-1,"[""francais""]",82266,1
3,braveheart,1995,3,etatsunis,9900,aventure action,-1,355642,-1,3,1231534,302,2.6,4.2,"[""Mel Gibson"", ""Sophie Marceau"", ""Catherine Mc...",72000000,"[""anglais""]",88091,9
4,regarde les hommes tomber,1994,3,france,6600,thriller,-1,39739,-1,10,218831,46,-1.0,3.3,"[""Jean-Louis Trintignant"", ""Mathieu Kassovitz""...",-1,"[""francais""]",84098,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,be happy,2008,3,grandebretagne,7080,comedie,18126,110442,90372,9,362884,128,3.9,2.7,"[""Sally Hawkins"", ""Alexis Zegerman"", ""Andrea R...",-1,"[""anglais""]",121057,1
2201,m butterfly,1993,3,etatsunis,6060,drame,-1,32351,-1,10,101680,44,-1.0,3.6,"[""Jeremy Irons"", ""John Lone"", ""Barbara Sukowa""...",-1,"[""anglais""]",-1,0
2202,petits freres,1999,3,france,5520,drame,-1,51749,-1,14,176880,-1,3.9,2.7,"[""Stephanie Touly"", ""Iliès Sefraoui"", ""Mustaph...",-1,"[""francais""]",-1,0
2203,cookies fortune,1999,3,etatsunis,7080,comedie,-1,63249,-1,13,239473,-1,3.8,3.3,"[""Glenn Close"", ""Julianne Moore"", ""Liv Tyler"",...",-1,"[""anglais""]",97081,0
2204,si loin si proche,1993,3,allemagne,8100,drame,-1,45238,-1,9,174764,42,-1.0,3.6,"[""Peter Falk"", ""Nastassja Kinski"", ""Bruno Ganz...",-1,"[""anglais"", ""francais"", ""allemand""]",82032,0

In [7]:
# df = df.drop(["title","visa"],axis=1)
# df.head(15)

In [8]:
df.nunique()

title              2204
year                 34
director              1
country              21
duration            118
genre                19
first_day          1694
first_week         2203
first_weekend      1566
hebdo_rank           20
total_spectator    2202
copies              739
rating_press         41
rating_public        39
casting            2095
budget              300
lang                175
visa               1782
award                27
dtype: int64

In [9]:
df.isnull().sum()

title              0
year               0
director           0
country            0
duration           0
genre              0
first_day          0
first_week         0
first_weekend      0
hebdo_rank         0
total_spectator    0
copies             0
rating_press       0
rating_public      0
casting            0
budget             0
lang               0
visa               0
award              0
dtype: int64

In [10]:
df.loc[df["rating_press"].isnull()]

Empty DataFrame
Columns: [title, year, director, country, duration, genre, first_day, first_week, first_weekend, hebdo_rank, total_spectator, copies, rating_press, rating_public, casting, budget, lang, visa, award]
Index: []

In [11]:
colonnes_numeriques = ["first_day","first_weekend",'budget']

df[colonnes_numeriques] = df[colonnes_numeriques].replace(-1, np.nan)

imputer = KNNImputer(n_neighbors=5)

df_imputed = imputer.fit_transform(df[colonnes_numeriques])

df[colonnes_numeriques] = df_imputed

df

,title,year,director,country,duration,genre,first_day,first_week,first_weekend,hebdo_rank,total_spectator,copies,rating_press,rating_public,casting,budget,lang,visa,award
0,rien ne va plus,1997,3,france,6300,thriller,74295.3622,172230,368944.741401,3,458125,234,-1.0,3.0,"[""Michel Serrault"", ""Isabelle Huppert"", ""Franç...",1.549450e+08,"[""francais"", ""hongrois""]",90016,0
1,la fille sur le pont,1999,3,france,5400,drame,75572.2000,154881,412897.600000,5,663390,198,3.4,3.6,"[""Vanessa Paradis"", ""Daniel Auteuil"", ""Claude ...",9.900000e+08,"[""francais""]",90876,1
2,grosse fatigue,1994,3,france,5220,comedie,74295.3622,417021,368944.741401,2,2015230,189,-1.0,2.7,"[""Michel Blanc"", ""Philippe Noiret"", ""Marie-Ann...",1.549450e+08,"[""francais""]",82266,1
3,braveheart,1995,3,etatsunis,9900,aventure action,56892.4000,355642,286272.200000,3,1231534,302,2.6,4.2,"[""Mel Gibson"", ""Sophie Marceau"", ""Catherine Mc...",7.200000e+07,"[""anglais""]",88091,9
4,regarde les hommes tomber,1994,3,france,6600,thriller,74295.3622,39739,368944.741401,10,218831,46,-1.0,3.3,"[""Jean-Louis Trintignant"", ""Mathieu Kassovitz""...",1.549450e+08,"[""francais""]",84098,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,be happy,2008,3,grandebretagne,7080,comedie,18126.0000,110442,90372.000000,9,362884,128,3.9,2.7,"[""Sally Hawkins"", ""Alexis Zegerman"", ""Andrea R...",3.072000e+07,"[""anglais""]",121057,1
2201,m butterfly,1993,3,etatsunis,6060,drame,74295.3622,32351,368944.741401,10,101680,44,-1.0,3.6,"[""Jeremy Irons"", ""John Lone"", ""Barbara Sukowa""...",1.549450e+08,"[""anglais""]",-1,0
2202,petits freres,1999,3,france,5520,drame,74295.3622,51749,368944.741401,14,176880,-1,3.9,2.7,"[""Stephanie Touly"", ""Iliès Sefraoui"", ""Mustaph...",1.549450e+08,"[""francais""]",-1,0
2203,cookies fortune,1999,3,etatsunis,7080,comedie,74295.3622,63249,368944.741401,13,239473,-1,3.8,3.3,"[""Glenn Close"", ""Julianne Moore"", ""Liv Tyler"",...",1.549450e+08,"[""anglais""]",97081,0
2204,si loin si proche,1993,3,allemagne,8100,drame,74295.3622,45238,368944.741401,9,174764,42,-1.0,3.6,"[""Peter Falk"", ""Nastassja Kinski"", ""Bruno Ganz...",1.549450e+08,"[""anglais"", ""francais"", ""allemand""]",82032,0

In [12]:
df.isnull().sum()

title              0
year               0
director           0
country            0
duration           0
genre              0
first_day          0
first_week         0
first_weekend      0
hebdo_rank         0
total_spectator    0
copies             0
rating_press       0
rating_public      0
casting            0
budget             0
lang               0
visa               0
award              0
dtype: int64

In [13]:
df.nunique()

title              2204
year                 34
director              1
country              21
duration            118
genre                19
first_day          1822
first_week         2203
first_weekend      1820
hebdo_rank           20
total_spectator    2202
copies              739
rating_press         41
rating_public        39
casting            2095
budget              780
lang                175
visa               1782
award                27
dtype: int64

In [14]:
df.to_csv('Dataset_analyse.csv', index=False)
df

,title,year,director,country,duration,genre,first_day,first_week,first_weekend,hebdo_rank,total_spectator,copies,rating_press,rating_public,casting,budget,lang,visa,award
0,rien ne va plus,1997,3,france,6300,thriller,74295.3622,172230,368944.741401,3,458125,234,-1.0,3.0,"[""Michel Serrault"", ""Isabelle Huppert"", ""Franç...",1.549450e+08,"[""francais"", ""hongrois""]",90016,0
1,la fille sur le pont,1999,3,france,5400,drame,75572.2000,154881,412897.600000,5,663390,198,3.4,3.6,"[""Vanessa Paradis"", ""Daniel Auteuil"", ""Claude ...",9.900000e+08,"[""francais""]",90876,1
2,grosse fatigue,1994,3,france,5220,comedie,74295.3622,417021,368944.741401,2,2015230,189,-1.0,2.7,"[""Michel Blanc"", ""Philippe Noiret"", ""Marie-Ann...",1.549450e+08,"[""francais""]",82266,1
3,braveheart,1995,3,etatsunis,9900,aventure action,56892.4000,355642,286272.200000,3,1231534,302,2.6,4.2,"[""Mel Gibson"", ""Sophie Marceau"", ""Catherine Mc...",7.200000e+07,"[""anglais""]",88091,9
4,regarde les hommes tomber,1994,3,france,6600,thriller,74295.3622,39739,368944.741401,10,218831,46,-1.0,3.3,"[""Jean-Louis Trintignant"", ""Mathieu Kassovitz""...",1.549450e+08,"[""francais""]",84098,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,be happy,2008,3,grandebretagne,7080,comedie,18126.0000,110442,90372.000000,9,362884,128,3.9,2.7,"[""Sally Hawkins"", ""Alexis Zegerman"", ""Andrea R...",3.072000e+07,"[""anglais""]",121057,1
2201,m butterfly,1993,3,etatsunis,6060,drame,74295.3622,32351,368944.741401,10,101680,44,-1.0,3.6,"[""Jeremy Irons"", ""John Lone"", ""Barbara Sukowa""...",1.549450e+08,"[""anglais""]",-1,0
2202,petits freres,1999,3,france,5520,drame,74295.3622,51749,368944.741401,14,176880,-1,3.9,2.7,"[""Stephanie Touly"", ""Iliès Sefraoui"", ""Mustaph...",1.549450e+08,"[""francais""]",-1,0
2203,cookies fortune,1999,3,etatsunis,7080,comedie,74295.3622,63249,368944.741401,13,239473,-1,3.8,3.3,"[""Glenn Close"", ""Julianne Moore"", ""Liv Tyler"",...",1.549450e+08,"[""anglais""]",97081,0
2204,si loin si proche,1993,3,allemagne,8100,drame,74295.3622,45238,368944.741401,9,174764,42,-1.0,3.6,"[""Peter Falk"", ""Nastassja Kinski"", ""Bruno Ganz...",1.549450e+08,"[""anglais"", ""francais"", ""allemand""]",82032,0